{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.releaseDate) }}
{{ form_row(form.imagePath) }}
{{ form_row(form.genre) }}
<button type="submit">Save Changes</button>
{{ form_end(form) }}
