{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>ReleaseDate</th>
                <th>ImagePath</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.title }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.releaseDate ? film.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ film.imagePath }}</td>
                <td>
                    <a href="{{ path('app_film_show', {'id': film.id}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_film_edit', {'id': film.id}) }}">Edit</a> | 
                        <form action="{{ path('admin_film_delete', {'id': film.id}) }}" method="POST" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No films found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
